header{
    .navbar{
        background-color: map-get( $colors , "black" );
        .logo{
            width: 160px;
            height: 90px;  
        }
        .navbar-toggler{
            background-color: rgb(235, 233, 233);
            .navbar-toggler-icon{
                background-color: map-get( $colors , "grey" );
                background-image: url(../assets/img/png-transparent-carme-marin-perruquers-computer-icons-menu-drop-down-list-hamburger-button-buttons-miscellaneous-angle-text.png);
            }
            
        }
        .nav-link{
            font-family: $font;
            color: map-get( $colors , "white" );
            text-decoration: none; 
            transition: color 0.3s; 
            }
        
            .ancla:hover {
                color: blue;
            }
        
    }

}