main{
    background-image: linear-gradient(to left bottom, #ffffff86, #e2e2e285, #c5c5c57e, #a9a9a983, #8e8e8e81, #79797981, #646464a6, #505050b4, #3c3c3cb9, #2a2a2ab7, #191919c5, #000000c7);
    /*background-color: rgba(128, 128, 128, 0.637);*/
    background-position: center;
    padding: 20px;
    margin: 115px;
    padding-top: 10px;
    width: auto;
    height: auto;

        .imgindex1{
            display: block;
            margin-left: auto;
            margin-right: auto;
            transition: transform 0.3s;
        }
        
        .imgindex1:hover{
            transform: scale(1.04);
        }

        .textmain{
            font-family: $font;
            font-size: 28px;
            color: map-get( $colors , "white" );
            text-align: center;
            padding: 10px;
            }

        .imgindex2{
            display: block;
            margin-left: auto;
            margin-right: auto;
            transition: transform 0.3s;
        }
        
        .imgindex2:hover{
            transform: scale(1.04);
        }

    .buy{
        @include buy( flex , column , center );
        color: map-get( $colors , "white" );
        
        .textfooter{
            padding: 0px;           
        }

        .productos{
        @include flex( block , auto , auto);
        width: 300px;
        height: 300px;
        transition: transform 0.3s;
        }
        .productos:hover{
            transform: scale(1.04);
        }

        .comprasproductos{
            font-family: $font;
            font-size: 20px;
            text-decoration: none;
            
        }

    }

    .sucursales{
        .compras{
            font-family: $font;
            font-size: 30px;
            padding-top: 14px;
            color: map-get( $colors , "white" );
            margin: 0 auto;
        }
    }

}

@media (max-width:1200px){

    .titulos{
        padding-top: 40px;
    }

}

@media (max-width:910px){
    .imgindex1{
        margin: 0 auto;
        width: 500px ;
    }

    main{
        margin: 35px;
    }

    .sucursal{
        width: 500px;
    }
}


@media (max-width:600px){

    main{
        margin: 25px;
    }

    .imgindex1{
        width: 400px;
        height: 300px;
    }

    .imgindex2{
        width: 300px;
        height: 350px;
    }

    .titulos{
        padding: 20px;
        font-size: 30px;
    } 
    
    .principales{
        margin-top: 0px;
    }

    .sucursal{
        width: 480px;
    } 
}

@media (max-width: 540px){
    .imgindex1{
        width: 350px;
    }

    .sucursal{
        width: 350px;
    }
}

@media (max-width: 430px){
    .imgindex1{
        width: 300px;
    }

    .sucursal{
        width: 300px;
    }

    footer{
        flex-direction: column;
    }
}

@media (max-width: 370px){
    .imgindex1{
        width: 250px;
    }

    .sucursal{
        width: 250px;
    }
}