@mixin flex( $display , $left , $right ) {
    display: $display;
    margin-left: $left;
    margin-right: $right;
}

@mixin buy( $dis , $direction , $align) {
    display: $dis;
    flex-direction: $direction;
    text-align: $align;
}