.titulos{
    font-family: $font;
    color: map-get($map: $colors , $key: white );
    background-color: rgba(128, 128, 128, 0.438);
    font-size: 37px;
    text-align: center;
}

.imgindex1{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.imgindex2{
    display: block;
    margin-left: auto;
    margin-right: auto;
}



.textfooterproductos{
    font-family:$font;
    font-size: 28px;
    color: map-get($map: $colors , $key: black );
    text-align: center;
}

.principales{
    font-family:$font;
    color: map-get($map: $colors , $key: black );
    font-size: 20px;
    padding-bottom: 5px;
}

.textfooterproductos{
    font-family:$font;
    font-size: 28px;
    color: map-get($map: $colors , $key: black );
    text-align: center;
}

.comunicacion{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}