.titulos{
    font-family: $font;
    color: map-get( $colors , "white" );
    background-image: linear-gradient(to left bottom, #ffffff86, #e2e2e285, #c5c5c57e, #a9a9a983, #8e8e8e81, #79797981, #646464a6, #505050b4, #3c3c3cb9, #2a2a2ab7, #191919c5, #000000c7);
    font-size: 37px;
    text-align: center;
    padding-top: 15px;
}

.textfooterproductos{
    font-family:$font;
    font-size: 28px;
    color: map-get( $colors , "black" );
    text-align: center;
}

.principales{
    font-family:$font;
    color: map-get( $colors , "black" );
    font-size: 20px;
    padding-bottom: 5px;
}

.textfooterproductos{
    font-family:$font;
    font-size: 32px;
    color: map-get( $colors , "black" );
    text-align: center;
}

.comunicacion{
    display: flex;
    flex-direction: column;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}

.error{
        display: flex;
        align-items: center;

}